.textInput {
  display: flex;
  flex-direction: column;
  align-items: start;

  p {
    margin: 0
  }

  input, textarea {
    padding: 1em;
    border-radius: 1em;
    min-width: 200px;

    &:focus {
      outline: none;
      border-color: rgba(0,0,0,0.2);
    }
  }

  textarea {
    min-height: 5em;
    max-height: 20em;
    max-width: 80vw;
    width: 600px;
    resize: vertical;
  }
}