
.articleCard {
  border: 5px solid black;
  width: 400px;
  max-width: 80vw;
  min-height: 300px;
  border-radius: 1em;
  position: relative;

  p, h2, h3 {
    margin: 0;
  }
  text-align: left;

  &:hover {
    cursor: pointer;
    border-color: lightblue;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .content {
    height: 90px;
    padding: 0 10px;
    overflow: hidden;
  }

  .other {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    svg {
      height: 40px;
      width: 40px;
      padding: 5px;
      &:hover {
        cursor: pointer;
        color: red!important;
      }
    }
  }

}